<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Кафедры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/department}">Кафедры</a></li>
        <li><a th:href="@{/discipline}">Дисциплины</a></li>
        <li><a th:href="@{/estimated}">Оценивается</a></li>
        <li><a th:href="@{/faculty}">Факультет</a></li>
        <li><a th:href="@{/group}">Группа</a></li>
        <li><a th:href="@{/passes}">Сдает</a></li>
        <li><a th:href="@{/specialty}">Специальность</a></li>
        <li><a th:href="@{/student}">Студент</a></li>
        <li><a th:href="@{/studied}">Изучает</a></li>
        <li><a th:href="@{/teacher}">Преподаватель</a></li>
        <li><a th:href="@{/type-of-report}">Вид отчета</a></li>
        <li><a th:href="@{/works}">Работает</a></li>
    </ul>
</nav>
<h1>Кафедры</h1>
<form th:action="@{/department/add}" method="post">
    <input type="text" name="name" placeholder="Название" required>
    <input type="text" name="type" placeholder="Тип" required>
    <select name="faculty" required>
        <option selected disabled>Выберите факультет</option>
        <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
    </select>
    <button type="submit">Добавить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Факультет</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td th:text="${department.name}"></td>
        <td th:text="${department.type}"></td>
        <td th:text="${department.faculty.name}"></td>
        <td>
            <form th:action="@{/department/delete/{id}(id=${department.id})}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/department/' + ${department.id}}">
                <button type="submit">Редактировать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>