<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Дисциплины</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<a th:href="@{/discipline}">Назад</a>
<h1>Дисциплины</h1>
<form th:action="@{/discipline/{id}(id=${discipline.id})}" method="post">
    <input type="text" name="name" placeholder="Название" th:value="${discipline.name}" required>
    <input type="text" name="difficulty_level" placeholder="Тип" th:value="${discipline.difficulty_level}" required>
    <select name="teacher" required>
        <option selected disabled>Выберите факультет</option>
        <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.fullname}" th:selected="${teacher.id == discipline.teacher.id}"></option>
    </select>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>