<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Оценивается</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/department}">Кафедры</a></li>
        <li><a th:href="@{/discipline}">Дисциплины</a></li>
        <li><a th:href="@{/estimated}">Оценивается</a></li>
        <li><a th:href="@{/faculty}">Факультет</a></li>
        <li><a th:href="@{/group}">Группа</a></li>
        <li><a th:href="@{/passes}">Сдает</a></li>
        <li><a th:href="@{/specialty}">Специальность</a></li>
        <li><a th:href="@{/student}">Студент</a></li>
        <li><a th:href="@{/studied}">Изучает</a></li>
        <li><a th:href="@{/teacher}">Преподаватель</a></li>
        <li><a th:href="@{/type-of-report}">Вид отчета</a></li>
        <li><a th:href="@{/works}">Работает</a></li>
    </ul>
</nav>
<h1>Оценивается</h1>
<form th:action="@{/estimated/add}" method="post">
    <input type="number" name="estimation" placeholder="Оценка" required>
    <input type="text" name="payment" placeholder="Оплата" required>
    <input type="number" name="attempt_number" placeholder="Номер попытки" required>
    <input type="date" name="date" required>
    <select name="teacher" required>
        <option selected disabled>Выберите учителя</option>
        <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.fullname}"></option>
    </select>
    <select name="student_id_number" required>
        <option selected disabled>Выберите студента</option>
        <option th:each="student : ${students}" th:value="${student.student_id_number}" th:text="${student.fullname}"></option>
    </select>
    <select name="typeOfReport" required>
        <option selected disabled>Выберите тип отчета</option>
        <option th:each="typeOfReport : ${typeOfReports}" th:value="${typeOfReport.id}" th:text="${typeOfReport.name}"></option>
    </select>
    <select name="discipline" required>
        <option selected disabled>Выберите дисциплину</option>
        <option th:each="discipline : ${disciplines}" th:value="${discipline.id}" th:text="${discipline.name}"></option>
    </select>
    <button type="submit">Добавить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Оценка</th>
        <th>Оплата</th>
        <th>Номер попытки</th>
        <th>Дата</th>
        <th>Учитель</th>
        <th>Студент</th>
        <th>Тип отчета</th>
        <th>Дисциплина</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estimated : ${estimateds}">
        <td th:text="${estimated.estimation}"></td>
        <td th:text="${estimated.payment}"></td>
        <td th:text="${estimated.attempt_number}"></td>
        <td th:text="${estimated.date}"></td>
        <td th:text="${estimated.teacher.fullname}"></td>
        <td th:text="${estimated.student_id_number.fullname}"></td>
        <td th:text="${estimated.typeOfReport.name}"></td>
        <td th:text="${estimated.discipline.name}"></td>
        <td>
            <form th:action="@{/estimated/delete/{id}(id=${estimated.id})}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/estimated/' + ${estimated.id}}">
                <button type="submit">Редактировать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>