<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Специальность</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<a th:href="@{/specialty}">Назад</a>
<h1>Специальность</h1>
<form th:action="@{/specialty/{id}(id=${specialty.code})}" method="post">
    <input type="text" name="name" placeholder="Название" th:value="${specialty.name}" required>
    <input type="number" name="number_of_graduates" placeholder="Количество выпускников" th:value="${specialty.number_of_graduates}" required>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>