<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Вид отчета</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="@{/type-of-report}">Назад</a>
<h1>Вид отчета</h1>
<form th:action="@{/type-of-report/{id}(id=${typeOfReport.id})}" method="post">
    <input type="text" name="name" placeholder="Название" th:value="${typeOfReport.name}" required>
    <button type="submit">Редактировать</button>
</form>
</body>
</html>