<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Работает</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/department}">Кафедры</a></li>
        <li><a th:href="@{/discipline}">Дисциплины</a></li>
        <li><a th:href="@{/estimated}">Оценивается</a></li>
        <li><a th:href="@{/faculty}">Факультет</a></li>
        <li><a th:href="@{/group}">Группа</a></li>
        <li><a th:href="@{/passes}">Сдает</a></li>
        <li><a th:href="@{/specialty}">Специальность</a></li>
        <li><a th:href="@{/student}">Студент</a></li>
        <li><a th:href="@{/studied}">Изучает</a></li>
        <li><a th:href="@{/teacher}">Преподаватель</a></li>
        <li><a th:href="@{/type-of-report}">Вид отчета</a></li>
        <li><a th:href="@{/works}">Работает</a></li>
    </ul>
</nav>
<h1>Работает</h1>
<form th:action="@{/works/add}" method="post">
    <input type="number" name="number_of_working_hours" placeholder="Количество рабочих часов" required>
    <select name="teacher" required>
        <option selected disabled>Выберите преподаватель</option>
        <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.fullname}"></option>
    </select>
    <select name="department" required>
        <option selected disabled>Выберите кафедра</option>
        <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
    </select>
    <button type="submit">Добавить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Факультет</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="work : ${works}">
        <td th:text="${work.number_of_working_hours}"></td>
        <td th:text="${work.teacher.fullname}"></td>
        <td th:text="${work.department.name}"></td>
        <td>
            <form th:action="@{/works/delete/{id}(id=${work.id})}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/works/' + ${work.id}}">
                <button type="submit">Редактировать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>